<link rel="stylesheet" href="/css/profile.css">
<h1>codeial | <%=title%></h1>
<p> Name:<%=user_name%></p>
<p> Email:<%=email_id%></p>

<form action="/users/sign_out" method="post">
    <input type="submit" name="signout" value="Sign Out" />
</form>

