#outer-div {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%; }

#title-div {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: auto;
  margin-left: 10px; }

#sign-in-out-profile {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: auto;
  list-style: none; }
  #sign-in-out-profile a {
    font-size: 20px;
    color: white;
    text-decoration: none; }

#div-sign-in-out {
  width: 30%; }
